PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL
);
INSERT INTO users VALUES(1,'admin','$2b$12$LY88rEsLOz2F/2A5zNe82eARSokWyjWxtow/BXyf3h4QH6EHFBLt6');
INSERT INTO users VALUES(2,'Master','$2b$12$J/XPWXSt5vsBQ6Ciip.uXOBg30.GKXu1ymDTNFiOuajx0/.Sw1T6K');
INSERT INTO users VALUES(3,'Mark Edizon S. Marino','$2b$12$3wHeHhsTEPDUEha4rCoBI.PnsUnO0VkaF4fUoBRk.DkVa8Aa2ViCm');
CREATE TABLE dtr (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    date TEXT,
    time_in TEXT,
    time_out TEXT,
    total_hours REAL,
    created_at TEXT, activities TEXT, is_test INTEGER DEFAULT 0, is_manual INTEGER DEFAULT 0,
    FOREIGN KEY (user_id) REFERENCES users(id)
);
INSERT INTO dtr VALUES(5,3,'2026-03-02','07:25 AM','05:07 PM',9.69999999999999928,'2026-03-08 15:21:57','ΓÇó sample',1,1);
INSERT INTO dtr VALUES(6,3,'2026-03-03','07:45 AM','05:02 PM',9.27999999999999936,'2026-03-08 15:22:39','ΓÇó sample',1,1);
INSERT INTO dtr VALUES(7,3,'2026-03-04','07:28 AM','05:13 PM',9.75,'2026-03-08 15:23:29','ΓÇó sample',1,1);
CREATE TABLE employees (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            position TEXT,
            department TEXT
        );
CREATE TABLE dtr_records (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            employee_id INTEGER,
            date TEXT NOT NULL,
            time_in TEXT,
            time_out TEXT,
            hours REAL DEFAULT 0,
            is_manual INTEGER DEFAULT 0,
            testing INTEGER DEFAULT 0,
            FOREIGN KEY (employee_id) REFERENCES employees(id)
        );
CREATE TABLE tasks (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            record_id INTEGER NOT NULL,
            task_description TEXT NOT NULL,
            FOREIGN KEY (record_id) REFERENCES dtr_records(id)
        );
INSERT INTO tasks VALUES(1,3,'None');
INSERT INTO tasks VALUES(2,4,'configured APs at CNHS, virac lgu');
INSERT INTO tasks VALUES(3,5,'sample');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',4);
INSERT INTO sqlite_sequence VALUES('dtr',13);
INSERT INTO sqlite_sequence VALUES('tasks',9);
COMMIT;
